[submodule "ndk"]
	path = ndk
	url = git@github.com:nostr-dev-kit/ndk
[submodule "ndk-svelte-components"]
	path = ndk-svelte-components
	url = git@github.com:nostr-dev-kit/ndk-svelte-components
[submodule "ndk-svelte"]
	path = ndk-svelte
	url = git@github.com:nostr-dev-kit/ndk-svelte
